joblib==1.5.3
matplotlib==3.11.1
numpy==2.4.6
pandas==3.0.5
presidio_analyzer==2.2.364
presidio_anonymizer==2.2.364
protobuf==7.36.0
pydantic==2.13.4
python-dotenv==1.2.3
scikit_learn==1.9.0
spacy==3.8.13
torch==2.12.1
transformers==4.53.2
shap==0.52.0
lime==0.2.0.1
transformers-interpret==0.10.0
openai==3.16.2